In [2]:
import pandas as pd
import numpy as np
data = {
    "Name": ["Alice", "bob", "Charlie", "David", "Eve"],
    "Age" : [25, 30, 22, 29, 27],
    "Score": [85, 90, 78, 88, 92]
}
df = pd.DataFrame(data)

In [3]:
print("DataFrame:\n", df)

DataFrame:
       Name  Age  Score
0    Alice   25     85
1      bob   30     90
2  Charlie   22     78
3    David   29     88
4      Eve   27     92

In [4]:
age_column = df["Age"]
print("\nREtrieved Column - Age:\n", age_column)

REtrieved Column - Age:
 0    25
1    30
2    22
3    29
4    27
Name: Age, dtype: int64

In [5]:
summary = df.describe()
print("\nSummary Statistics of DataFrame:\n", summary)

Summary Statistics of DataFrame:
              Age      Score
count   5.000000   5.000000
mean   26.600000  86.600000
std     3.209361   5.458938
min    22.000000  78.000000
25%    25.000000  85.000000
50%    27.000000  88.000000
75%    29.000000  90.000000
max    30.000000  92.000000

In [6]:
mean_values = df.select_dtypes(include=[np.number]).mean()
std_values = df.select_dtypes(include=[np.number]).std()
print("\nMean Values:\n", mean_values)
print("\nStandard Deviation Values:\n", std_values)

Mean Values:
 Age      26.6
Score    86.6
dtype: float64

Standard Deviation Values:
 Age      3.209361
Score    5.458938
dtype: float64